body{
    background-color: rgb(255, 163, 126);
}

h1{
   color: blue;
   text-align: center; 
}

input.monedas{
    color: red;
}

div.footer{
    background-color: yellow;
}

p.footer{
    color: black;
    text-align: center;
}

span.footer{
    color: red;
    font-weight: bold;
}
